@font-face {
    font-family: blackadder itc;
    font-style: normal;
    font-weight: 400;
    src: local('Blackadder ITC'), url(https://fonts.cdnfonts.com/s/62893/BITCBLKAD.woff) format('woff')
}

@font-face {
    font-family: blackadder itc tt;
    font-style: normal;
    font-weight: 400;
    src: local('Blackadder ITC TT'), url(https://fonts.cdnfonts.com/s/62893/BLACI.woff) format('woff')
}

@font-face {
    font-family: blackadder itc std;
    font-style: normal;
    font-weight: 400;
    src: local('Blackadder ITC Std'), url('https://fonts.cdnfonts.com/s/62893/Blackadder ITC Std Regular.woff') format('woff')
}

.map-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #E1E1E1;
    border: 1px solid var(--Black, #000);
}

.ukraine-folk-map-body {
    padding: 0;
    margin: 0;
    transform: scale(var(--scale)) translateX(var(--offset-x)) translateY(var(--offset-y));
    width: 100%;
    height: 100%;

    .st0 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E1E1E1;
    }

    .st1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }

    .st2 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #C7EDFF;
    }

    .st3 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #C7EDFF;
        stroke: #0978AC;
        stroke-width: 0.7087;
        stroke-linejoin: round;
        stroke-miterlimit: 3.8637;
    }

    .st4 {
        fill: none;
        stroke: #0978AC;
        stroke-width: 0.7087;
        stroke-linejoin: round;
        stroke-miterlimit: 3.8637;
    }

    .st5 {
        fill: none;
        stroke: #646464;
        stroke-width: 2.5512;
        stroke-linejoin: round;
        stroke-miterlimit: 3.8637;
    }

    .st6 {
        fill: none;
        stroke: #646464;
        stroke-width: 0.7087;
        stroke-linejoin: round;
        stroke-miterlimit: 3.8637;
    }

    .st7 {
        fill: none;
        stroke: #0978AC;
        stroke-width: 1.1339;
        stroke-linejoin: round;
        stroke-miterlimit: 3.8637;
    }

    .st8 {
        fill: none;
        stroke: #0978AC;
        stroke-width: 1.1339;
        stroke-miterlimit: 3.8637;
    }

    .st9 {
        fill: none;
        stroke: #0978AC;
        stroke-miterlimit: 3.8637;
    }

    .st10 {
        fill: none;
        stroke: #0978AC;
        stroke-width: 0.8504;
        stroke-miterlimit: 3.8637;
    }

    .st11 {
        fill: none;
        stroke: #646464;
        stroke-width: 1.7008;
        stroke-linejoin: round;
        stroke-miterlimit: 3.8637;
        stroke-dasharray: 9.9213, 2.2677;
    }

    .st12 {
        fill: none;
        stroke: #646464;
        stroke-width: 0.709;
        stroke-linejoin: round;
        stroke-miterlimit: 3.8637;
    }

    .st13 {
        fill: none;
    }

    .st14 {
        fill: #020202;
    }

    .st15 {
        fill: none;
        stroke: #000000;
        stroke-miterlimit: 10;
    }

    .st17 {
        font-family: 'Blackadder ITC';
    }

    .st18 {
        font-size: 20px;
    }

    .--hover-region {
        fill: var(--light-blue, blue);
    }
}