.body-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    aspect-ratio: 1545.7/1038.5;
    .map-content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        background-color: var(--black, black);
    }
   
    .scale-slider-wrapper {
        width: calc(200px + 4rem);
        padding: 0 2rem;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }

    .region-list-wrapper {
        margin-right: 2rem;
        min-width: 340px;
        padding-left: 1rem;
        &.absolute-position{
            background-color: var(--bg-color, #cecece);
            padding: 1rem;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }
}